@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* Chrome/Safari */
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


.img-card-top {
  width: 100%;
  height: 250px; /* Adjust this height to match your design */
  object-fit: cover;
  object-position: top center; /* Prevents cutting off heads */
}

/* Optional: a class for 'contain' if you want to see the whole photo with bars */
.img-card-contain {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #f3f4f6; /* Adds a light gray background to empty spaces */
}